a:link {
    color: white;
    background-color: blue;
    padding: 10px 20px;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: purple;
}

a:hover {
    background-color: green;
}

a {
    display: inline-block;
    border-radius: 5px;
}
