/* Selector de Clase */
#subtitulo {
  color: rgb(142, 39, 202);
}

/* Selector de ID */
.resaltado {
  background-color: rgb(165, 165, 165);
}

ul {
  color: rgb(187, 11, 11);
}


/* Selector Universal */
* {
  margin: 0;
  padding: 0;
}

/* Selector de Atributo */
 #contraseña {
  border: 2px solid rgb(15, 50, 204);
}


