.seccion1 {
    width: 200px;
    height: 150px;
    background-color: #9ac6e4;
}

.seccion2 {
    width: 50%;
    height: 100px;
    background-color: #2ecc71;
}

.seccion3 {
    width: 300px;
    min-height: 100px;
    max-height: 200px;
    background-color: #e74c3c;
}
