/* 1*/
body {
  color: #000000;
}

/* 2*/
section p {
  font-family: "Georgia";
}

/* 3*/
.highlight {
  background-color: yellow;
  font-weight: bold;
}

/* 4*/
#override {
  color: rgb(0, 26, 255);
}

/* 5*/
h1.title {
  font-size: 2.5em;
}

/* 6*/
footer p {
  color: rgb(255, 0, 0) !important;
}
