/* Primer hijo de cada lista */
ul > li:first-child {
    background-color: #f0f8ff;
}

/* Último hijo de cada lista */
ul > li:last-child {
    font-weight: bold;
}

/* Tercer elemento de la lista de tareas */
.tareas li:nth-child(3) {
    color: #ff4500;
    font-style: italic;
}

/* Hermanos inmediatos del elemento "Pagar facturas" */
.tareas li:nth-child(3) + li {
    color: #4caf50;
}
.tareas li:nth-child(3) ~ li {
    text-decoration: underline;
}

/* Segundo hijo de la lista de contactos */
.contactos li:nth-child(2) {
    border: 2px solid #000;
}